<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Panel</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <h1>Record Detail</h1>
    <form action="/update" method="POST">
        <label for = "name" >Name</label><br>
        <input type = "text" name = "name" value="{{user.username}}" class="form-control" /><br>
        <label for = "email" >Email</label><br>
        <input type="hidden" name="id" value="{{user.id}}" />
        <input type = "email" name = "email" value="{{user.email}}" class="form-control"/><br>
        <input type = "submit" value = "Submit" class="btn btn-primary"/>
    </form>
</body>
</html>