<!DOCTYPE html>
<html>
<head>
     <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
   <body class="container">
        <h2>Add User Form</h2>
      <form action = "/insert" method = "POST">
         <label for = "name" class="form-control">Name</label><br>
         <input type = "text" name = "name" placeholder = "Name" class="form-control"/><br>
           <label for = "email" class="form-control">Email</label><br>
         <input type = "email" name = "email" placeholder = "email" class="form-control"/><br>
         <input type = "submit" value = "Submit" class="btn btn-primary"/>
      </form>

   </body>
</html>