<!DOCTYPE html>
<html lang = "en">
   <head>
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body class="container">

      <h3>
          <a href = "{{ url_for('show_all') }}">Main View</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Users (<a href = "{{ url_for('add_user') }}">Add User
         </a>)</h3>

      <table class="table">
         <thead>
            <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Options</th>
            </tr>
         </thead>

         <tbody>
            {% for user in Users %}
               <tr>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td><a href='/delete/{{user.id}}' class="label label-warning">Delete</a> |
                      <a href='/edit/{{user.id}}' class="label label-primary">Edit</a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>